{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="mt-3">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('app_event_index') }}" class="btn btn-secondary">Annuler</a>
</div>
{{ form_end(form) }}
